.card {
    border: 1px solid lightgray;
    border-radius: 14px;
    width: 450px;
    font-family: "Google Sans Text", "Google Sans", Roboto, Arial, sans-serif;
    padding: 10px;
    margin: 40px auto;
}
.card-img {
    width: 100%;
    border-radius: 14px;
    position: relative;
}
.food {
    width: 100%;
    border-radius: 14px;
}
.discount {
    text-align: center;
    width: 160px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: royalblue;
    color: white;
    position: absolute;
    bottom: 15px;
    left: 0;
}
.promo {
    text-align: center;
    width: 80px;
    padding: 3px;
    background-color:gray;
    color: lightgray;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.time {
    text-align: center;
    width: 60px;
    padding: 3px;
    background-color: whitesmoke;
    border-radius: 4px;
    position: absolute;
    bottom: 15px;
    right: 10px;
}
h3 {
    margin-top: 15px;
    font-size: 24px;
    margin-left: 10px;
}
.desc {
    color: gray;
    margin-left: 12px;
    margin-top: -12px;
    font-size: 17px;
    margin-bottom: 20px;
}
.safety {
    position: relative;
    width: 100%;
}
.maxsafety {
    width: 15%;
    position: absolute;
    margin-left: 10px;
    margin-top: 4px;
}
.safety-desc {
    color: gray;
    margin-left: 100px;
    margin-right: 20px;
}
hr {
    color: lightgray;
}